swagger: '2.0'
info:
  title: OnBase API
  description: OnBase API
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/onbase-api
produces:
  - application/json
paths:
  /onbase/{osuId}/applications:
    get:
      summary: Return a recordset of application data for an OSU ID
      tags:
        - applications
      description: Return a recordset of application data for an OSU ID
      operationId: getApplications
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApplicationsResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
  /onbase/{osuId}/applications/{applicationId}:
    patch:
      summary: Update an existing application
      tags:
        - applications
      description: Update an existing application by application ID
      operationId: patchApplicationById
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/applicationId'
        - in: body
          name: requestBody
          schema:
            type: object
            properties:
              data:
                properties:
                  id:
                    $ref: '#/definitions/ApplicationResource/properties/id'
                  type:
                    $ref: '#/definitions/ApplicationResource/properties/type'
                  attributes:
                    $ref: '#/definitions/ApplicationResource/properties/attributes'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApplicationResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Application not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
  osuId:
    name: osuId
    in: path
    type: string
    required: true
    description: OSU ID of a person
    pattern: '^\d{9}$'
  applicationId:
    name: applicationId
    in: path
    type: string
    required: true
    description: A unique ID of a application
definitions:
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  ApplicationResource:
    properties:
      id:
        type: string
        description: A unique ID of a application
      type:
        type: string
        enum: [application]
      links:
        $ref: '#/definitions/SelfLink'
      attributes:
        properties:
          osuId:
            type: string
            description: OSU ID of a person
            example: '123456789'
          termCode:
            type: string
            description: Term code
            example: '201901'
          numbers:
            type: integer
            description: Application numbers
            example: 3
          decisionCode:
            type: string
            description: Application decision code
            example: 'AT'
          levelCode:
            type: string
            description: Application level code
            example: '02'
          campusCode:
            type: string
            description: Campus code
            example: 'DSC'
          studentTypeCode:
            type: string
            description: Student type code
            example: 'T'
          admitCode:
            type: string
            description: Admit code
            example: 'RA'
  ApplicationResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/ApplicationResource'
  ApplicationsResult:
    properties:
      links:
        allOf:
          - $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/ApplicationResource'
  ErrorResource:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorResource'
