swagger: '2.0'
info:
  title: OnBase API
  description: OnBase API
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/onbase-api
produces:
  - application/json
paths:
  /onbase/{osuId}:
    get:
      summary: Return a recordset of application data for an OSU ID
      tags:
        - applications
      description: Return a recordset of application data for an OSU ID
      operationId: getApplications
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApplicationResult'
        '404':
          description: Applications for an OSU ID not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    patch:
      summary: Update an existing application
      tags:
        - applications
      description: Update an existing application by application ID
      operationId: patchApplicationById
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/processDocumentBody'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ApplicationResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Application not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
  osuId:
    name: osuId
    in: path
    type: string
    required: true
    description: OSU ID of a person
    pattern: '^\d{9}$'
  processDocumentBody:
    name: processDocumentBody
    in: body
    schema:
      type: object
      properties:
        onbaseDocumentType:
          type: string
          description: OnBase document type
        additionalChecklistInfo:
          type: string
          description: Additional checklist information
        documentReceiveDate:
          type: string
          format: date-time
          description: |
            'The document receive date uses the date-time notation as defined by RFC 3339 in Pacific Time Zone: https://tools.ietf.org/html/rfc3339#section-5.6, section 5.6'
          example: '2019-01-01T00:00:00+08:00'
      additionalProperties: false
definitions:
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  ApplicationResource:
    properties:
      termCode:
        type: string
        description: Term code
        example: '201901'
      applicationNumber:
        type: string
        description: Application number
        example: '3'
      statusCode:
        type: string
        description: Status code
        example: 'D'
      statusDate:
        type: string
        description: |
          'The status date uses the date-time notation as defined by RFC 3339 in Pacific Time Zone'
        example: '2019-01-01T00:00:00+08:00'
      decisionCode:
        type: string
        description: Application decision code
        example: 'AT'
      decisionDate:
        type: string
        format: date-time
        description: |
          'The decision date uses the date-time notation as defined by RFC 3339 in Pacific Time Zone'
        example: '2019-01-01T00:00:00+08:00'
      levelCode:
        type: string
        description: Application level code
        example: '02'
      campusCode:
        type: string
        description: Campus code
        example: 'DSC'
      studentTypeCode:
        type: string
        description: Student type code
        example: 'T'
      admitCode:
        type: string
        description: Admit code
        example: 'RA'
      initialCompleteDate:
        type: string
        format: date-time
        description: |
          'The initial complete date uses the date-time notation as defined by RFC 3339 in Pacific Time Zone'
        example: '2019-01-01T00:00:00+08:00'
      justCompletedInd:
        type: boolean
        description: The indicator shows if the application is just completed
        example: true
      uacPendingInd:
        type: boolean
        description: The indicator shows if the application is strill pending in University Admission Committee
        example: true
  ApplicationResult:
    properties:
      links:
        allOf:
          - $ref: '#/definitions/SelfLink'
      data:
        properties:
          applications:
            type: array
            items:
              $ref: '#/definitions/ApplicationResource'
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
