swagger: '2.0'
info:
  title: OnBase API
  description: OnBase API
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/onbase-api
consumes:
  - application/json
produces:
  - application/json
security:
  - OAuth2:
      - full
paths:
  /onbase/admissions/{osuId}:
    get:
      summary: Return an admission for an OSU ID
      tags:
        - onBase
        - admissions
      description: Return an admission for an OSU ID
      operationId: getAdmissionById
      parameters:
        - $ref: '#/parameters/osuId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdmissionResult'
        '404':
          description: Person record for an OSU ID not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    patch:
      summary: Update an existing application of an admission
      tags:
        - onBase
        - admissions
      description: Update an existing application of an admission by ID
      operationId: patchAdmissionById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/admissionPatchBody'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdmissionResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Person record for an OSU ID not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '409':
          description: |
            Conflict error, either type is incorrect or the path ID and body ID are not matched
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          $ref: '#/responses/500'
  /onbase/financial-aid/{osuId}:
    get:
      summary: Return financial aid data for an OSU ID
      tags:
        - onBase
        - financialAid
      description: Return financial aid data for an OSU ID
      operationId: getFinancialAidById
      parameters:
        - $ref: '#/parameters/osuId'
        - in: query
          name: financialAidYear
          description: |
            Search by financial aid year. Financial aid year is a 4-digit code. For example, for Summer 2018, the value would be 1819
          required: true
          type: string
          pattern: '^\d{4}$'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FinancialAidResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Person record for an OSU ID not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/ErrorResult'
    patch:
      summary: Update existing tracking requirements of a financial aid
      tags:
        - onBase
        - financialAid
      description: Update existing tracking requirement of a financial aid by ID
      operationId: patchFinancialAidById
      parameters:
        - $ref: '#/parameters/osuId'
        - $ref: '#/parameters/financialAidPatchBody'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FinancialAidResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '404':
          description: Person record for an OSU ID not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '409':
          description: |
            Conflict error, either type is incorrect or the path ID and body ID are not matched
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          $ref: '#/responses/500'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
  osuId:
    name: osuId
    in: path
    type: string
    required: true
    description: OSU ID of a person
    pattern: '^\d{9}$'
  admissionPatchBody:
    name: admissionPatchBody
    in: body
    schema:
      type: object
      properties:
        data:
          properties:
            id:
              type: string
              description: OSU ID of a person
              pattern: '^\d{9}$'
            type:
              $ref: '#/definitions/AdmissionType'
            attributes:
              properties:
                onBaseDocumentType:
                  type: string
                  description: OnBase document type
                  example: ADMS CHNG- Change Request (TermAndMajor)
                additionalChecklistInfo:
                  type: string
                  description: Additional checklist information
                documentReceiveDate:
                  type: string
                  description: The document receive date in Oracle date format (DD-MON-YYYY HH24:MI:SS)
                  example: '20-MAY-2019 00:00:00'
                  pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
                applicationNumber:
                  type: number
                  format: integer
                  description: The application number
                  example: 1
              required:
                - onBaseDocumentType
                - documentReceiveDate
              additionalProperties: false
          required:
            - id
            - type
            - attributes
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    required: true
  financialAidPatchBody:
    name: financialAidPatchBody
    in: body
    schema:
      type: object
      properties:
        data:
          properties:
            id:
              type: string
              description: OSU ID of a person
              pattern: '^\d{9}$'
            type:
              $ref: '#/definitions/FinancialAidType'
            attributes:
              properties:
                onBaseDocumentType:
                  type: string
                  description: OnBase document type
                  example: FA Last Day Attended
                financialAidYear:
                  type: string
                  description: |
                   Search terms by financial aid year. Financial aid year is a 4-digit code. For example, for Summer 2018, the value would be 1819
                  example: '1819'
                  pattern: '^\d{4}$'
              required:
                - onBaseDocumentType
                - financialAidYear
              additionalProperties: false
          required:
            - id
            - type
            - attributes
          additionalProperties: false
      required:
        - data
      additionalProperties: false
    required: true
responses:
  '400':
     description: Bad request
     schema:
       $ref: '#/definitions/ErrorResult'
  '500':
     description: Internal server error
     schema:
       $ref: '#/definitions/ErrorResult'
securityDefinitions:
  OAuth2:
    type: oauth2
    flow: application
    tokenUrl: https://api.oregonstate.edu/oauth2/token
    scopes:
      full: Full access to the API
definitions:
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  Application:
    properties:
      termCode:
        type: string
        description: Term code
        example: '201901'
        pattern: '^\d{6}$'
      applicationNumber:
        type: string
        description: Application number
        example: '3'
      statusCode:
        type: string
        description: Status code
        example: 'D'
      statusDate:
        type: string
        description: The status date in Oracle date format (DD-MON-YYYY HH24:MI:SS)
        example: '20-MAY-2019 00:00:00'
        pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
      decisionCode:
        type: string
        description: Application decision code
        example: 'AT'
      decisionDate:
        type: string
        description: The decision date in Oracle date format (DD-MON-YYYY HH24:MI:SS)
        example: '20-MAY-2019 00:00:00'
        pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
      levelCode:
        type: string
        description: Application level code
        example: '02'
      campusCode:
        type: string
        description: Campus code
        example: 'DSC'
      studentTypeCode:
        type: string
        description: Student type code
        example: 'T'
      admitCode:
        type: string
        description: Admit code
        example: 'RA'
      initialCompleteDate:
        type: string
        description: The initial complete date in Oracle date format (DD-MON-YYYY HH24:MI:SS)
        example: '20-MAY-2019 00:00:00'
        pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
      justCompletedInd:
        type: boolean
        description: The indicator shows if the application is just completed
        example: true
      uacPendingInd:
        type: boolean
        description: The indicator shows if the application is still pending in University Admission Committee
        example: true
      startSession:
        type: string
        description: Start session
        example: SOP8
      aswInd:
        type: boolean
        description: Advance standing indicator
        example: true
      checklistMandInd:
        type: boolean
        description: This field identifies whether the checklist item is mandatory or optional
        example: true
      checklistReceiveDate:
        type: string
        description: The date that the checklist item was received in Oracle date format (DD-MON-YYYY HH24:MI:SS)
        example: '20-MAY-2019 00:00:00'
        pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
      checklistAdmrCode:
        type: string
        description: This field identifies the checklist item required from the applicant
        example: EC
      checklistComment:
        type: string
        description: This field identifies a comment about the specific checklist item
        example: Univ of North Dakota
  AdmissionResource:
    properties:
      id:
        type: string
        description: OSU ID of a person
        pattern: '^\d{9}$'
      type:
        $ref: '#/definitions/AdmissionType'
      attributes:
        properties:
          applications:
            type: array
            items:
              $ref: '#/definitions/Application'
      links:
        $ref: '#/definitions/SelfLink'
  AdmissionResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AdmissionResource'
  AdmissionType:
    type: string
    enum: [admissions]
  TrackingRequirements:
    properties:
      financialAidYear:
        type: string
        description: Financial aid year. This is a 4-digit code. For example, for Summer 2018, the value would be 1819
        pattern: '^\d{4}$'
        example: '1819'
      trackingRequirement:
        type: string
        description: Tracking requirement
        example: ADMIT
      trackingStatusCode:
        type: string
        description: Tracking status code
        example: M
      statusDate:
        type: string
        description: The status date in Oracle date format (DD-MON-YYYY HH24:MI:SS)
        example: '20-MAY-2019 00:00:00'
        pattern: '^\d{2}-[A-Z]{3}-\d{4} \d{2}:\d{2}:\d{2}$'
  FinancialAidResource:
    properties:
      id:
        type: string
        description: OSU ID of a person
        pattern: '^\d{9}$'
      type:
        $ref: '#/definitions/FinancialAidType'
      attributes:
        properties:
          trackingRequirements:
            type: array
            items:
              $ref: '#/definitions/TrackingRequirements'
      links:
        $ref: '#/definitions/SelfLink'
  FinancialAidResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/FinancialAidResource'
  FinancialAidType:
    type: string
    enum: [financialAid]
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
